<div class="container">
    <!--
    <div class="page-header" id="banner">
        
    </div>
    -->
    <h4>Single Match</h4>
    <input id="activityId" type="hidden" value="<%= @model %>">
    <div class="row">
        <div class="col-lg-6">
            <div id="match" class="panel-group">
                <span class="loading-spinner"></span>
            </div>
        </div>
    </div>
</div>